.table {

    margin: 3rem auto;
    width: 100%;
}

.table>div {
    display: grid;
    grid-template-columns: 316px 1fr 1fr 1fr auto;
    justify-items: center;
    column-gap: 1rem;
    padding: 1rem 0;
    align-items: center;
}

.table>div>div {
    padding: 0.5rem;

}

.tableHeader h3 {
    color: #617d98;
    font-weight: 400;
}

.tableHeader, .content {
    border-bottom: solid 1px var(--sec-color);
}

.trash button {
    color: #fff;
    font-size: 0.7rem;
    background-color: #df4759;
    padding: 0.1rem 0.2rem;
    border-radius: 5px;
}


/* Start  Cart Items  */
.info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.info img {
    width: 100px;
    border-radius: 10px;

}

.price {
    background: var(--main-color);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.incDec {
    font-weight: bold;
    display: grid;
    gap: 0.4rem;
    place-items: center;
    grid-template-columns: repeat(3, 1fr);
    font-size: 1.5rem;
}

.incDec button {
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #fff;
}

.subtotal {
    color: #617d98;

}

/* Start  Cart Items  */

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto 1rem;
}

.options button {
    background: #222;
}

.options button:hover {
    color: #fff;
}

.cartBill {

    width: fit-content;
    padding: 3rem;
    border: 1px solid #bcccdc;
    margin: 3rem auto 0.5rem;

}

.cartBill h2 {
    border-top: 1px solid #bcccdc;
    padding: 1rem;
}

.cartBill span {
    margin-left: 1rem;
}

.orderDetails {
    display: flex;
    flex-direction: column;

}

.orderDetails button {
    width: fit-content;
    margin: 0 auto 3rem;

}

.info .price {
    display: none;

}

@media (max-width: 768px) {
    .table>div.tableHeader {
        display: none;
    }

    .price {
        display: none;
    }

    .incDec {
        font-size: 1rem;
    }

    .incDec button {
        font-size: 1rem;
    }

    .table>div {
        display: flex;
        justify-content: space-between;

    }

    .info .price {
        display: block;

    }
}

@media screen and (max-width: 576px) {
    .options {
        flex-direction: column;
        gap: 20px;
    }
}


@media screen and (max-width: 350px) {
    .table>div {
        flex-wrap: wrap;
    }

    .info {
        flex-basis: 100%;
    }


}