.order {
    border-radius: 10px;
    background-color: #eee;
    margin: 1rem auto;
    box-shadow: 0 0 19px 0 #48484894;
    margin: 3rem auto;
}

.order>div {
    padding: 0 1rem;
    margin: 0 auto;
}



.orderItem span:nth-of-type(2) {
    display: block;
}

@media (max-width :576px) {
    .orderItem img {
        display: none;
    }
}

@media screen and (max-width: 350px) {
    .orderItem {
        flex-wrap: nowrap !important;

    }

    .orderItem>div:first-child {
        flex-basis: auto;

    }
}

.footer {}

.totalOrderPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1rem;
    border-bottom: solid 1px #eee;
}

.totalOrderPrice span {
    font-size: var(--h2-font-size);
    display: block;
    text-align: center;

}

.orderInfo {
    display: flex;
    justify-content: space-between;
    padding: 0rem 1rem 2rem;
    gap: 1rem;
    align-items: center;
}

@media (max-width :576px) {
    .orderInfo {
        flex-direction: column;
        align-items: start;
    }
}

.date {

    color: #8d8a8a;
}

.status {
    display: flex;
    gap: 1rem;

}

.status span {
    padding: 0.4rem 1rem;
    border-radius: 5px;
    font-weight: 500;
    text-align: center;
}

.status span.false {
    background: #ffdfdf;
    border: 1px solid #ff8181;
}

.status span.true {
    background: #afffaf;
    border: 1px solid #46ff46;
}

.accountant {
    cursor: pointer;
    transition: 0.2s;
}

.accountant:hover {
    transform: scale(1.02);
    background: #e0e0e0 !important;
}

.user span {
    display: block;
    font-size: var(--small-font-size);
    font-family: Arial, Helvetica, sans-serif;
}