.all {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin: 4rem auto;
    gap: 3rem;

}

@media (max-width :992px) {
    .all {
        display: block;
    }

    .products {
        margin-top: 3rem;
    }
}

.boxes {
    display: grid;
    gap: 2rem 1.5rem;
    margin-top: 1rem;
    justify-content: center;
}



@media (min-width :768px) {
    .boxes {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width :992px) {
    .boxes {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width :1200px) {
    .boxes {
        grid-template-columns: repeat(3, 1fr);
    }
}

.header {
    position: relative;
    width: fit-content;
}

.header::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 200px;
    background: var(--main-color);
    top: 50%;
    transform: translateY(-50%);
    left: 110%;
}

@media (max-width :600px) {
    .header::after {
        width: 100px;

    }
}

@media (max-width :480px) {
    .header::after {
        width: 50px;

    }
}

.filters {}

.filters form input[type='text'] {
    background-color: #f1f5f8;
    border: none;
    border-radius: 5px;
    padding: 0.2rem 0.6rem;
    display: block;
    margin-bottom: 2rem;
}

.filters form input[type='text']:focus {
    outline: none;
}

.brands,
.ram,
.price {
    margin: 1.5rem 0;
}


.ram span,
.price span {
    display: block;
    color: #48647f;
    font-size: 0.9rem;
    margin: 0.5rem 0 0.1rem;
}

.brands button {
    display: block;
    margin: 0.3rem 0;
    color: var(--sec-color);
    cursor: pointer;
    transition: 0.3s ease-out;
    width: fit-content;
    background-color: #fff;
    font-family: 'Oswald';
}

.brands button.active {
    border-bottom: 1px solid;
    padding: 0 1px;
}

.filterTitle {
    font-size: var(--h2-font-size);
    font-weight: 500;
    color: var(--text-color);
    letter-spacing: 1px;
}

.brands button:hover {
    transform: translateX(3px);
}

.clearFilters {
    padding: 0.2rem 0.4rem;
    border-radius: 3px;
    background-color: #ff1919;
    font-weight: 600;
    color: #fff;
    font-size: 0.9rem;
    transition: 0.2s;
}

.clearFilters:hover {
    background-color: #f00000;
}